<div class="container">
    <div class="row">
        <div *ngIf="!films" class="preloader-wrapper small active loaders">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="col s12" *ngFor="let film of films?.results; let i = index">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="col s7">
                            <h5 class="blue-text text-darken-2"><i class="material-icons">movie</i> {{film?.title}}</h5>
                            <ul>
                                <li>
                                    <p><b>Director:</b> {{film?.director}}</p>
                                </li>
                                <li>
                                    <p><b>Date Release:</b> {{film?.release_date}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col s5">

                            <ul class="collection with-header">
                                <li class="collection-header">
                                    <h6>Characters</h6>
                                </li>
                            </ul>
                            <div class="col s2" *ngFor="let pers of film?.characters">
                                <a href="{{pers}}" title="{{pers}}"><img src="./assets/img/darth-vader.png"
                                        alt="{{pers}}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="secondary-content" [routerLink]="['/detail', i+1]">More Details about</a>
                    </div>
                </div>

            </div>
        </div>
    </div>