<nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper">
        <ul class="right">
            <li><a class="waves-effect waves-light btn green lighten-2" (click)="logout()">Log out</a></li>
        </ul>
    </div>
</nav>