<app-header></app-header>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m12 center">
        <div class="icon-block">
          <img src="./assets/img/darth-vader.png" alt="">
          <h5 class="center">In the details...</h5>
          <p class="light">See below for all information related to film.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 left">
      <button id="back-button" class="btn-large waves-effect waves-light green lighten-1" (click)="back()">
        <i class="material-icons left">arrow_back</i> Back
      </button>
    </div>
  </div>
  <div class="col s12">

    <div class="card hoverable">

      <div *ngIf="!swapi" class="preloader-wrapper small active loaders">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <div class="card-content" [ngClass]="{'loader-card': !swapi}">
        <div class="row">
          <div class="col s12">
            <h3>{{swapi?.title}}</h3>
            <ul>
              <li>
                <p><b>Director:</b> {{swapi?.director}}</p>
              </li>
              <li>
                <p><b>Producer:</b> {{swapi?.producer}}</p>
              </li>
              <li>
                <p><b>Date Release:</b> {{swapi?.release_date}}</p>
              </li>
            </ul>

            <p>{{swapi?.opening_crawl}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <ul class="collection with-header">
              <li class="collection-header">
                <h6>Characters</h6>
              </li>
            </ul>
            <div class="col s2" *ngFor="let pers of swapi?.characters">
              <a href="{{pers}}" title="{{pers}}"><img src="./assets/img/darth-vader.png" alt="{{pers}}"></a>
            </div>
          </div>

          <div class="col s4">
            <ul class="collection with-header">
              <li class="collection-header">
                <h6>Planets</h6>
              </li>
            </ul>
            <div class="col s2" *ngFor="let planet of swapi?.planets">
              <a href="{{planet}}" title="{{planet}}"><img src="./assets/img/sistema-solar.png" alt="{{planet}}"></a>
            </div>
          </div>

          <div class="col s4">
              <ul class="collection with-header">
                <li class="collection-header">
                  <h6>Starships</h6>
                </li>
              </ul>
              <div class="col s2" *ngFor="let starship of swapi?.starships">
                <a href="{{starship}}" title="{{starship}}"><img src="./assets/img/foguete-espacial.png" alt="{{starship}}"></a>
              </div>
            </div>
          
        </div>

        <div class="row">
            <div class="col s6">
              <ul class="collection with-header">
                <li class="collection-header">
                  <h6>Vehicles</h6>
                </li>
              </ul>
              <div class="col s2" *ngFor="let vehicle of swapi?.vehicles">
                <a href="{{vehicle}}" title="{{vehicle}}"><img src="./assets/img/transportes.png" alt="{{vehicle}}"></a>
              </div>
            </div>
  
            <div class="col s6">
              <ul class="collection with-header">
                <li class="collection-header">
                  <h6>Species</h6>
                </li>
              </ul>
              <div class="col s2" *ngFor="let specie of swapi?.species">
                <a href="{{specie}}" title="{{specie}}"><img src="./assets/img/especie.png" alt="{{specie}}"></a>
              </div>
            </div>
  
          </div>



      </div>
    </div>


  </div>
</div>