.loaders {
    display: flex !important;
    align-items: start;
    position: absolute!important;
    z-index: 100;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

.loader-card {
    filter: blur(2px);
}

ul:not(.browser-default)>li {
   list-style-type: circle;
}