<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center active">POC Swapi</h1>
        <div class="row center">
            <h5 class="header col s12 light">Dear appraiser, follow the instructions in the READ.me file for content access.</h5>
        </div>
        <br><br>
        <div class="row center">
            <form [formGroup]="form" class="col s12">
                <div class="row center">
                    <div class="container">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input formControlName="account" id="icon_account" type="text" class="validate">
                            <label class="active" for="name">Account</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">lock</i>
                            <input formControlName="password" id="icon_password" type="password" class="validate">
                            <label class="active" for="name">Password</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row center">
            <button href="" id="login-button" class="btn-large waves-effect waves-light green lighten-1" (click)="login()">login</button>
        </div>
        <br><br>
    </div>
</div>