<app-header></app-header>
<br><br>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12 center">
                <div class="icon-block">
                    <img src="./assets/img/darth-vader.png" alt="">
                    <h5 class="center">Welcome to the Swapi app!</h5>
                    <p class="light">See the list of movies "Star Wars", and your details.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<app-swapi-list></app-swapi-list>